{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <h3>HEHE</h3>
  <div>
    {% for todo in todos %}
      <li class='todo__item list-group-item'>
        <label class='form-check-label'>{{todo.task}}</label>
        <div class="todo-actions">
        </div>
        <label class='form-check-label'>{{todo.description}}</label><br>
        <a href="{% url 'todos_update' todo.id %}" class="btn warn">Edit</a>
        <a href="{% url 'todos_delete' todo.id %}" class="btn danger">Delete</a>
      </li>
    {% endfor %}
  </div>
    <a href="{% url 'todos_create' %}">
      <img src="{% static 'images/images.png' %}" alt="Todo-List" />
    </a>
</section>
{% endblock %}