{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
  <section class="logo-container">
    <div class="cat-container">
      <img src="{% static 'images/List.png' %}" alt="Todo-List" />
    </div>
  </section>
  <section class='login'>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
  </section>
{% else %}
  <h3 class='quote'>Andrew Tate: <q>No exceptional person ever lived like an average person</q></h3>
{% endif %}
{% endblock %}