img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.navbar-nav{
  margin-left: 75vw;
}
li{
  padding-right:30px;
}
li a{
  text-decoration: none;
  color: black;
}
html{
  background-color:lightgrey;
}