.container {
  width: 100%;
  margin: auto;
  /* margin-left: auto; */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.card{
  margin-top: 5vh;
}
img{
  width: 200px;
  height: 150px;
}

body {
  background-color: aqua;
}
html{
  background-color:lightgrey;
}